
DummmyPrj.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist

DummmyPrj.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/DummmyPrj.xcscheme

DummmyPrj.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
